/* Image Styling */
img {
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Upper Div Styling */
#upperDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    border-radius: 8px;
}

/* Input Styling */
input {
    width: 500px;
    height: 25px;
    margin-left: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Heading 1 Styling */
h1 {
    color: #a82f1f;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

/* Heading 2 Styling */
h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 8px;
}

/* Paragraph Styling */
p {
    font-size: 0.9em;
    width: 200px;
    line-height: 1.5;
    color: #333;
}

/* Sections Styling */
.sections {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
}

/* Left Text Styling */
.leftText {
    padding-left: 300px;
    font-size: 0.8em;
    color: rgb(70, 70, 70);
}

/* Button Styling */
#button {
    margin-top: 40px;
    margin-left: 540px;
    height: 30px;
    width: 150px;
    background-color: dodgerblue;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#button:hover {
    background-color: #1e90ff;
}
